//=== Colors
$white: #ffffff;
$black: #000000;
$blue: #a6dcef;
$green: darkseagreen;
$pink: #f2aaaa;
$violet: #a6b1e1;
$flower: #e36387;
$orange: darksalmon;
$cyan: darkcyan;
$aqua: #00d7c3;
$red: crimson;

//=== Font
$font: 'Fjalla One', sans-serif;